/***** BASE STYLES *****/

@font-face {
  font-family: 'nashville';
  src: url('../fonts/Nashville-z8w0.ttf') format('truetype');
}

html {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Do Hyeon', sans-serif;
  width: 100%;
}


/***** GRID *****/

.full-width {
  width: 100%;
  margin: 0 auto;
}

.half-width {
  width: 50%;
  float: left;
}

.third-width {
  width: 33.33333%;
  float: left;
}

/***** HEADER *****/

header {
  height: 700px;
  background: url('../img/luke-mtb-1-crop-3.jpg');
  background-size: cover;
  margin-top: 2em;
}

ul {
  color: #ffff66;
  float: right;
  font-weight: bold;
  font-family: 'nashville';
  list-style: none;
  font-size: 10.625em;
  margin-top: 0.5em;
  margin-right: 0.75em;
  opacity: 0.75;
}


#name {
  color: #1e81fa;
  font-size: 8.125em;
  line-height: 1;
  margin-top: 0.2em;
  margin-left: 0.2em;
  opacity: 0.8;
}

/*-----------------ABOUT-SECTION-----------------*/


